{{!-- inserting footer css  --}}
<link rel="stylesheet" href="/footer.css">

<footer>
    <div class="main_footer">
        <div class="footer_links">
            <h1>links for navigations</h1>
            <a href="#">home</a>
            <a href="#">documentations</a>
            <a href="#">guide</a>
            <a href="#">learn page</a>
            <a href="#">contact page</a>
            <a href="#">about page</a>
        </div>
        <div class="footer_social">
            <h1>get connect with social accounts </h1>
            <a href="#">google accounts</a>
            <a href="">gmail accounts</a>
            <a href="">facebook accounts</a>
            <a href="">linkdein accounts</a>
            <a href="">instagram accounts</a>
            <a href="">whatshapp accounts</a>
        </div>
        <div class="footer_about">
            <h1>about us </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus repudiandae aspernatur necessitatibus minima quam deleniti, illum rerum iure nihil dolor optio exercitationem ipsa? Temporibus ab dicta excepturi ipsum, nulla, harum commodi animi expedita quasi illo dolorem minima similique, suscipit nesciunt id omnis dolor quisquam? Reiciendis ad quod commodi fugiat ipsa.</p>
            <button>read more</button>
        </div>
    </div>
</footer>