<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nursery website - about page</title>
    <link rel="shortcut icon" href="/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="main_header">
        <header>
            <nav>
                <div class="header">
                    <img src="./logo.jpg" alt="no images" class="nav_logo">
                    <p class="nav_heading">plant wonders nursery</p>

                </div>
                <div class="nav_link">
                    <a href="/">home</a>
                    <a href="/about">about</a>
                    <a href="#">services</a>
                    <a href="/contact">contact</a>
                </div>
                <div class="nav_search">
                    <input type="search" name="search" id="search" placeholder="search here">
                    <button>search</button>
                </div>

            </nav>
        </header>
    </div>


    {{!-- this is our about page for this website --}}
    <div class="about_home_images">
        <img src="/about.jpg" alt="no images">
    </div>

    {{!-- this is the cart sections of our websites --}}
    <div class="main_carts">



        <div class="ind_carts">
            <div class="about_img">
                <img src="./f1.jpg" alt="no images">
            </div>
            <div class="about_desc">
                <h1>dalhia flower </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro pariatur vero, reprehenderit
                    necessitatibus molestiae doloribus magni accusantium reiciendis temporibus, nesciunt minima officia
                    repellat quaerat exercitationem earum vel veritatis. Et, voluptatum!

                </p>
                <button>read more</button>
            </div>
        </div>

        
        <div class="ind_carts reverse">
            <div class="about_img">
                <img src="./f2.jpg" alt="no images">
            </div>
            <div class="about_desc">
                <h1>orchid flower </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro pariatur vero, reprehenderit
                    necessitatibus molestiae doloribus magni accusantium reiciendis temporibus, nesciunt minima officia
                    repellat quaerat exercitationem earum vel veritatis. Et, voluptatum!

                </p>
                <button>read more</button>
            </div>
        </div>

        <div class="ind_carts">
            <div class="about_img">
                <img src="./f3.jpg" alt="no images">
            </div>
            <div class="about_desc">
                <h1>calendula flower </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro pariatur vero, reprehenderit
                    necessitatibus molestiae doloribus magni accusantium reiciendis temporibus, nesciunt minima officia
                    repellat quaerat exercitationem earum vel veritatis. Et, voluptatum!

                </p>
                <button>read more</button>
            </div>
        </div>

        <div class="ind_carts reverse">
            <div class="about_img">
                <img src="./f4.jpg" alt="no images">
            </div>
            <div class="about_desc">
                <h1>snowdrop flower </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro pariatur vero, reprehenderit
                    necessitatibus molestiae doloribus magni accusantium reiciendis temporibus, nesciunt minima officia
                    repellat quaerat exercitationem earum vel veritatis. Et, voluptatum!

                </p>
                <button>read more</button>
            </div>
        </div>

        <div class="ind_carts">
            <div class="about_img">
                <img src="./f5.jpg" alt="no images">
            </div>
            <div class="about_desc">
                <h1>poppy flower </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro pariatur vero, reprehenderit
                    necessitatibus molestiae doloribus magni accusantium reiciendis temporibus, nesciunt minima officia
                    repellat quaerat exercitationem earum vel veritatis. Et, voluptatum!

                </p>
                <button>read more</button>
            </div>
        </div>

        <div class="ind_carts reverse">
            <div class="about_img">
                <img src="./f6.jpg" alt="no images">
            </div>
            <div class="about_desc">
                <h1>waterlily flower </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro pariatur vero, reprehenderit
                    necessitatibus molestiae doloribus magni accusantium reiciendis temporibus, nesciunt minima officia
                    repellat quaerat exercitationem earum vel veritatis. Et, voluptatum!

                </p>
                <button>read more</button>
            </div>
        </div>

        <div class="ind_carts">
            <div class="about_img">
                <img src="./f7.jpg" alt="no images">
            </div>
            <div class="about_desc">
                <h1>daisy flower </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro pariatur vero, reprehenderit
                    necessitatibus molestiae doloribus magni accusantium reiciendis temporibus, nesciunt minima officia
                    repellat quaerat exercitationem earum vel veritatis. Et, voluptatum!

                </p>
                <button>read more</button>
            </div>
        </div>

        <div class="ind_carts reverse">
            <div class="about_img">
                <img src="./f8.jpg" alt="no images">
            </div>
            <div class="about_desc">
                <h1>jasmine flower </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro pariatur vero, reprehenderit
                    necessitatibus molestiae doloribus magni accusantium reiciendis temporibus, nesciunt minima officia
                    repellat quaerat exercitationem earum vel veritatis. Et, voluptatum!

                </p>
                <button>read more</button>
            </div>
        </div>



    </div>



    {{!-- this is footer of this websites  --}}
    {{>footer}}
</body>

</html>